.timerange-selector {
  height: 56pxpx; /* Explicitly set height */
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  background-color: rgb(72, 72, 72);
  position: fixed;
  top: 56px; /* Match navbar height exactly */
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;
}


  
  .selector-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    outline: none; /* Removes the default blue glow on focus */
  }
  
  /* Spotify green */
  .selector-button.active {
    background-color: #555;
    border-color: #1DB954; /* Spotify green for active option */
  }
  
  .selector-button:hover {
    background-color: #444;
  }
  
  /* Custom focus outline */
  .selector-button:focus {
    outline: none; /* Removes default focus outline */
    box-shadow: 0 0 0 4px rgba(29, 185, 84, 0.5); /* Custom focus highlight */
  }